*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #7E070B;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    height: 480px;
    width: 300px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
}
#storiyan{
    height: 120px;
    width: 100%;
   border-bottom: 1px solid #555;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
   border: 3px solid red;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;

}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    user-select: none;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-color: red;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}